body {
  /*background-color: white;*/
  background-image: url('../../images/pig-bg.png'), url('../../images/blackboard-big.jpg');
  background-repeat: no-repeat, repeat;
  background-position: left bottom;
  background-attachment: fixed;
  background-size: 418px 190px, 100% 100%;
  color: white;
}


.section-header {
  background-image:linear-gradient(to bottom right, #6699CC, #042F59);
  color: white;
  padding: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: auto;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-content > p {
  margin: 15px auto 40px;
  padding-left: 1em;
  padding-right: 1em;
}

.title-description {
  margin: 15px auto; 
}

#money-control {
  padding-top: 110px;
}

#logo-img {
  padding: 10px 10px 25px;
}

.header-wrapper{
  position: relative;
}


img#scales, img#record, img#chart{
  max-height: 5em;
}

.expense-header > img {
  display: none;
}

.reporting-subsection > img {
  display: none; 
}

@media only screen and (min-width: 768px){

  .section-header {
    max-width: 80%;
    border-radius: 5px;
    margin: 0px auto
  }

  .section-content {
    max-width: 80%;
    margin: 10px auto;
    padding: 10px;
  }

  p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
   font-size: 40px;
  }

  .expenses {
    display: flex;
  }

  .expense-header  {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .expense-header > h2 {
    grid-column-start: 3;
    grid-column-end: 9;
  }
  
  .expense-header > img {
    grid-column-start: 9;
    display: unset;
  }
  
  .reporting-subsection {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .reporting-subsection > img {
    grid-column-start: 5;
    display: unset;
  }
  
  .reporting-subsection > h3 {
    grid-column-start: 6;
    grid-column-end: 8;
  }
}