
@font-face {
  font-family: 'Tauri';
  src: local('Tauri'), url(./fonts/Tauri-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CherrySwash';
  src: local('CherrySwash'), url(./fonts/CherrySwash-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Alice';
  src: local('Alice'), url(./fonts/Alice-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
