
.nav {
  background-image:linear-gradient(to bottom right, #6699CC, #042F59);
  position: fixed;
  list-style-type: none;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 3px;
}

.nav a {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 15px;
  color: white;
}

div.nav-links, .nav-right {
  height: 100%;
}

.nav a:link {
  text-decoration: none;
}

.nav-right a:hover {
  color: #6699CC;
}

a.home-nav {
  float: left;
  font-size: 30px;
  font-weight: bold;
}

a.nav-link {
}
  
header {
  padding: 45px 15px;
}

p {
  margin: 0 auto;
  max-width: 600px;
}

p+p {
  margin-top: 15px;
}