
.nav {
  background-image:linear-gradient(to bottom right, #6699CC, #042F59);
  position: fixed;
  list-style-type: none;
  text-align: right;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 3px;

  
}

.nav a {
  display: inline-block;
  margin: 3px 15px;
  color: white;
}

.nav a:link {
  text-decoration: none;
}

.nav a:hover {
  color: #6699CC;
}
  
header {
  padding: 45px 15px;
}

p {
  margin: 0 auto;
  max-width: 600px;
}

p+p {
  margin-top: 15px;
}